body {
    background-color: teal;
}

#board {
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    box-sizing: content-box;
    border: 10px solid #fff;
}

#board > div {
    background-color: #fff;
}